<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ML Demo</title>
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./normalize.css') }}">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./skeleton.css') }}">
</head>

<body>
  <div class="container">
    <h1>Projektwoche KI - Live Demo</h1>

    <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
      <div class="row">
        <div class="six columns">
          <label for="model_selection_form">1. Wähle eine KI</label>
          <select class="u-full-width" name="selected_model" id="model_selection_form">
            <option value="buch_oder_tasse">📷 buch_oder_tasse</option>
            <option value="zero_or_one">🎤 zero_or_one</option>
            <option value="hate_speech">📝 hate_speech</option>
            <!-- <option value="Option 2">berndeutsch_hochdeutsch</option>
            <option value="Option 3">politisch_links_rechts</option> -->
          </select>
        </div>
      </div>
      <input class="button-primary" type="submit" value="Weiter">
    </form>
  </div>
</body>
</html>