<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ML Demo</title>
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./normalize.css') }}">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./skeleton.css') }}">
</head>

<body>
  <div class="container">
    <h1>Projektwoche KI - Live Demo</h1>

    <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
      <div class="row">
        <div class="six columns">
          <label for="model_selection_form">1. Wähle eine KI</label>
          <select class="u-full-width" name="selected_model" id="model_selection_form">
            <option value="Gesten_Gruppe_1">📷 Handgesten (open, closed)</option>
            <option value="Knoten_Gruppe_5">📷 Knoten (Doppelter Achter, Prusikknoten, Ueberhandknoten)</option>
            <option value="Emotionen2_Gruppe_2">📷 Mimik (gluecklich, gelangweilt, verärgert)</option>
            <option value="Emotionen_Gruppe_2">📷 Mimik (happy, sad, angry, poker_face, bored)</option>
            <option value="Sprachen_Gruppe_4">🎤 Spracherkennung De/En (de, en)</option>
            <option value="Catdog_Gruppe_3">📷 Hund, Katze + Co. (dogs, Realcats, maxibanane, snoopdogg)</option>
            <!-- <option value="Emotionen_Gruppe_2">🎤 zero_or_one</option>
            <option value="Option 2">berndeutsch_hochdeutsch</option>
            <option value="Option 3">politisch_links_rechts</option> -->
          </select>
        </div>
      </div>
      <input class="button-primary" type="submit" value="Weiter">
    </form>
  </div>
</body>
</html>